.pokemoncard {
    width: 20%;
    height: 200px;
    margin: 5px;
    background-color: steelblue;
    border-radius: 2rem;
    position: relative;
}

.img {
    position: relative;
    width: 70%;
    height: 50%;
    margin-top: 5px;
    position:static;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.p {
    color: white;
    text-transform: capitalize;
    font-family: cursive;
}