form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.btn {
    color: black;
    background-color: steelblue;
    border-radius: 0.5rem;
    border-width: 1px;
    margin-top: 20px;
    width: 15%;
    font-size: 100%;
}

#form{
    border-radius: .25rem;
    border: none;
    height: 2rem;
    background-color: linen;
    
}

#container{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    background-color: steelblue;
    width: 25%;
    margin-top: 1.5rem;
    position: relative;
    padding: .5rem;
}

#types{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto;
    /* text-align: center; */
    text-transform: capitalize;
    justify-content: space-around;
}

#names{
    color:white;
    font-size: 15px;
}

#unit{
    display: flex;
}

#danger{
    color:red;
}