#container{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    background-color: steelblue;
    width: 25%;
    margin-top: 1.5rem;
    position: relative;
    padding: .5rem;
}

#types{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto;
    /* text-align: center; */
    text-transform: capitalize;
    justify-content: space-around;
}

#names{
    color:white;
    font-size: 15px;
}

#unit{
    display: flex;
}