.showall {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    position: relative;
}