#result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 11px; */
    align-items: center;
    padding: 5px;
}

#h4{
    height: 5px;
}

.text-danger{
    color: red;
    font-weight: bold;
}